USE [master]
GO
/****** Object:  Database [Health_Stream_TeleMedicine]    Script Date: 2026-05-26 9:15:58 AM ******/
CREATE DATABASE [Health_Stream_TeleMedicine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Health_Stream_TeleMedicine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Health_Stream_TeleMedicine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Health_Stream_TeleMedicine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Health_Stream_TeleMedicine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Health_Stream_TeleMedicine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Health_Stream_TeleMedicine]
GO
/****** Object:  Table [dbo].[healthcare_iot_target_dataset]    Script Date: 2026-05-26 9:15:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[healthcare_iot_target_dataset](
	[Patient_ID] [smallint] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Sensor_ID] [tinyint] NOT NULL,
	[Sensor_Type] [nvarchar](50) NOT NULL,
	[Temperature_å_C] [float] NOT NULL,
	[Systolic_BP_mmHg] [tinyint] NOT NULL,
	[Diastolic_BP_mmHg] [tinyint] NOT NULL,
	[Heart_Rate_bpm] [tinyint] NOT NULL,
	[Device_Battery_Level] [tinyint] NOT NULL,
	[Target_Blood_Pressure] [tinyint] NOT NULL,
	[Target_Heart_Rate] [tinyint] NOT NULL,
	[Target_Health_Status] [nvarchar](50) NOT NULL,
	[Battery_Level] [tinyint] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
